@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro:300);

@font-face {
    font-family: 'Replica';
    src: url('designers/fonts/Replica-Bold.otf') format('opentype');
  	src: url('designers/fonts/Replica-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Replica-Regular';
    // src: url('designers/fonts/Replica-Regular.otf') format('opentype');
  	src: url('designers/fonts/Replica-Regular.ttf') format('truetype');
}

body{
	margin: 0;
	padding: 0;
	border: 0;
	width: 100%;
	height: 100vh;
	background-color: #0F0F0F;
}

::-moz-selection { /* Code for Firefox */
    color: #000000;
    background-color: rgba(255,255,255,0.99);
}

::selection {
    color: #000000; 
    background-color: rgba(255,255,255,0.99);
}

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background-color: #0F0F0F;
}
::-webkit-scrollbar-thumb {
    background-color: rgba(255,255,255,0.8);
}

#topbar{
	width: 100%;
	height: 80px;
	background-color: #0F0F0F;
	text-align: center;
	font-family: 'Source Code Pro', monospace;
	font-size: 16px;
	color: #EBEBEB;
	display: inline-block;
	top: 0;
	z-index: 2;
}

h1{
	color: white;
	font-family: 'Replica', 'Helvetica', sans-serif;
	font-size: 60px;
	letter-spacing: 5px;
	text-align: center;
	text-shadow: -2px -2px 0px #FF0000, 2px 2px 0px #00FFFF;	
}

h2{
	color: white;
	font-family: 'Replica-Regular', 'Helvetica', sans-serif;
	font-size: 40px;
	letter-spacing: 5px;
	text-align: center;
	margin-bottom: 0px;
}

h2 span{
	text-shadow: -2px -2px 0px #FF0000, 2px 2px 0px #00FFFF;
}

.listelements{
	padding: 10px;
	display: inline-block;
	cursor: pointer;
	border-bottom: 0px;
	padding-bottom: 0;
	transition: all ease 0.2s;
	opacity: 0.8;
}

.listelements:hover{
   text-shadow: -2px 0px 0px #FF0000, 2px 0px 0px #00FFFF;
   opacity: 1;
}

.listelements .active{
	text-shadow: -2px 0px 0px #FF0000, 2px 0px 0px #00FFFF;
	opacity: 1;
}

a.aboutlink{
	text-decoration: none;
	color: #EBEBEB;
}

#boxwrapper{
	width: 100%;
	text-align: center;
	position: relative;
	z-index: 1;
}

.box{
	margin: -0.1vw;
	background-color: #0F0F0F;
	display: inline-block;
	width: 16.35vw;
	height: 15vw;
	transform: rotate(0deg);
	transition: all ease 0.3s;
	-webkit-filter: grayscale(0%); /* Chrome, Safari, Opera */
    filter: grayscale(0%);
	background-size: cover;
    // background-image: url("designers/images/covers/splash2.png");
	background-repeat: no-repeat;
	background-attachment: fixed;
    pointer-events: none;
}

.addpointer{
    pointer-events: auto;
}

.original{
	background: #0F0F0F;
	transform: rotate(180deg);
}

.temptoggle{
	background: #0F0F0F;
	transform: rotate(360deg);
}

.imgtogglefirst{
	display: none;
	opacity: 0.9;
	transform: rotate(180deg);
	transition: all ease 0.2s;
    -webkit-filter: grayscale(0%); /* Chrome, Safari, Opera */
    filter: grayscale(0%);
}


.imgtoggle{
	display: none;
	opacity: 0.9;
	-webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
    filter: grayscale(100%);
    transition: all ease 0.2s;
}

.imgtoggle:hover, .imgtogglefirst:hover{
opacity: 0.1;
}

.show{
	display: block;
}

/*.temppoop{
	color: white;
	text-align:center;
	font-family: 'Source Code Pro';
	font-size: 2em;
}
*/
img{
	width: 16.35vw;
	height: 15vw; 
	padding: 0;
	margin: 0;
}

#canvasIdentity{
margin: 0 auto;
}

canvas{
	text-align: center;
}

.mischahover, .nobohover, .angelahover, .nevarishover,.madyhover, .jessyhover, .tiffanyhover, .summerhover, .kboohover, .samhover, .melissahover, .nataliahover, .granthover, .peterhover, .simonhover, .lauriehover {
	width: 100%; 
	text-align: center;
	position: absolute;
	margin-top: -10vw;
	font-family: 'Source Code Pro', monospace;
	font-size: 14px;
	color: #EBEBEB;
	display: none;
	pointer-events: none;
	transition: all ease 0.2s;
}

.nullhover{
    width: 100%;
    text-align: center;
    padding-top: 6vw;
    position: absolute;
    color: #EBEBEB;
    display: block;
    font-family: 'Source Code Pro', monospace;
    text-shadow: -1px 0px 0px #FF0000, 1px 0px 0px #00FFFF;
    font-size: 14px;
}

.rotatepara{
transform: rotate(180deg);
}

.rotatepara2{
    padding-bottom: 6vw;
transform: rotate(180deg);
}

.showpara{
	display: block;
}

.showpara span{
    text-shadow: -1px 0px 0px #FF0000, 1px 0px 0px #00FFFF;
}

.aboutpara{
	position: relative;
	top: 50px;
    font-family: 'Source Code Pro', Arial, monospace;
    color: #EBEBEB;
    font-size: 26px;
    width: 60vw;
	margin: 0 auto; 
	text-align: center;
}

.aboutpara a{
    color: #EBEBEB;
    text-decoration: none;
    font-style: italic;
}
