
@font-face {
    font-family: Replica;
    src: url('fonts/ReplicaBold.otf');
}

*
{
	margin: 0;
	padding: 0;
}

html,body{
	background-color: #F0F0F0;
	max-width: 100%;
    overflow-x: hidden;

}

::-moz-selection { /* Code for Firefox */
    color: #ffffff;
    background-color: rgba(0,0,0,0.99);
}

::selection {
    color: #ffffff;
    background-color: rgba(0,0,0,0.99);
}

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background-color: #0F0F0F;
}
::-webkit-scrollbar-thumb {
    background-color: rgba(255,255,255,0.8);
}


#topbar{
background: #0F0F0F;
height: 60px;
position: fixed;
width: 100%;
z-index: 2;
color: #E8E8E8;
font-size: 14px;
text-align: center;
font-family: 'Source Code Pro', Arial, monospace;
}

#prev{
	float: left;
	padding-top: 20px;
	padding-left: 20px;
}

#home{
	float: middle;
	text-align: center;
	padding-top: 20px;
}

#next{
	float: right;
	padding-top: 20px;
	padding-right: 20px;
}


#topdescrips{
	width: 100%;
	/*border-bottom: 2px solid #0F0F0F;*/
}



#project{
width: 48vw;
padding: 20px;
padding-left: 20px;
float: left;
margin-top: 60px;
}

h1{
	color: #0F0F0F;
	font-family: Replica;
	font-size: 5vw;
	letter-spacing: 5px;
	text-shadow: -1.8px -1.8px 0px #FF0000, 1.8px 1.8px 0px #00FFFF;
}

h2{
	color: #F0F0F0;
	font-family: Replica;
	font-size: 2vw;
	letter-spacing: 5px;
	text-align: right;
	-webkit-transform: skew(10deg);
	   -moz-transform: skew(10deg);
	    -o-transform: skew(10deg);
}

.description1{
	font-family: 'Source Code Pro', Arial, monospace;
	font-weight: 400;
	font-size: 14px;
}

#artist{
	background-color: #0F0F0F;
	margin-top: 60px;
	width: 40vw;
	border-bottom: 2px solid #0F0F0F;
	float: right;
	padding: 20px;
	padding-right: 20px;
	text-align: right;
		-webkit-transform: skew(-10deg);
	   -moz-transform: skew(-10deg);
	     -o-transform: skew(-10deg);
	     box-shadow: 200px 0 0 #0F0F0F;
	     /*box-shadow: 100px 0 0 #0F0F0F, -5px -5px 0px #FF0000, 5px 5px 0px #00FFFF;*/
}

.profile{
width: 18vw;
height: 18vw;
padding-right: 20px;
-webkit-transform: skew(10deg);
	   -moz-transform: skew(10deg);
	    -o-transform: skew(10deg);
}

.artistdescription{
	font-family: 'Source Code Pro', Arial, monospace;
	color: #F0F0F0;
	font-weight: 400;
	font-size: 12px;
	width: 35vw;
	text-align: right;
	float: right;
		-webkit-transform: skew(10deg);
	   -moz-transform: skew(10deg);
	    -o-transform: skew(10deg);
	    padding-bottom: 20px;

}

.toplinks{
	color: #F0F0F0;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 2px;
	text-decoration: none;
	border-bottom: 1px solid #E8E8E8;
	transition: all ease 0.2s;
	-webkit-transform: skew(10deg);
	   -moz-transform: skew(10deg);
	    -o-transform: skew(10deg);
}

.toplinks:hover{
padding-bottom: 5px;
text-shadow: -4px 0px 0px #FF0000, 4px 0px 0px #00FFFF;
}

.noline{
	border-bottom: 0px solid;
}

#maindescription{
	text-align: center;
	font-size: 14px;
	padding-top: 50px;
}
iframe{
	width: 70vw;
	height: 78vh;
	padding-top: 50px;
	padding-bottom: 50px;
}

.para{
	font-family: 'Source Code Pro', Arial, monospace;
	font-weight: 400;
	font-size: 14px;
	text-align: left;
	width: 70vw;
	padding-left: 14vw;
	padding-right: 14vw;
}

.mainimgs{
	width: 70vw;
	opacity: 0.9;
	padding-top: 50px;
	padding-bottom: 50px;
}