@font-face {
    font-family: 'Replica';
    src: url('fonts/Replica-Bold.otf') format('opentype');
  	src: url('fonts/Replica-Bold.ttf') format('truetype');
}

@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro:300,400);


*{
	margin: 0;
	padding: 0;
}

html,body{
	background-color: #F0F0F0;
	max-width: 100%;
	margin-bottom: 100px;
    overflow-x: hidden;
}

#boxer{
	width: 100%;
	height: 100vh;
	position: fixed;
	z-index: 2;
    -webkit-box-shadow:inset 0px 0px 0px 25px #0F0F0F;
    -moz-box-shadow:inset 0px 0px 0px 25px #0F0F0F;
    box-shadow:inset 0px 0px 0px 25px #0F0F0F;
    pointer-events: none;
}

/* Code for Firefox */
::-moz-selection { 
    color: #ffffff;
    background-color: rgba(0,0,0,0.99);
}

::selection {
    color: #ffffff;
    background-color: rgba(0,0,0,0.99);
}

.artistdescription::-moz-selection, .para::-moz-selection, .para2::-moz-selection{
	color: #000000;
    background-color: rgba(255,255,255,0.99);
}

.artistdescription::selection, .para::selection, .para2::selection{
	color: #000000;
    background-color: rgba(255,255,255,0.99);
}


::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background-color: #0F0F0F;
}
::-webkit-scrollbar-thumb {
    background-color: #F0F0F0;
}


#topbar{
	background: #0F0F0F;
	height: 60px;
	position: fixed;
	width: 100%;
	z-index: 3;
	color: #E8E8E8;
	font-size: 14px;
	text-align: center;
	font-family: 'Source Code Pro', 'Menlo', 'Monaco', monospace;
}

#prev{
	float: left;
	padding-top: 20px;
	padding-left: 20px;
}

#home{
	float: middle;
	text-align: center;
	padding-top: 20px;
}

#next{
	float: right;
	padding-top: 20px;
	padding-right: 20px;
}


#topdescrips{
	width: 100%;
	z-index: 10;
	/*border-bottom: 2px solid #0F0F0F;*/
}

#project{
	width: 45vw;
	padding: 20px;
	padding-left: 4vw;
	float: left;
	margin-top: 60px;
}

h1{
	color: #0F0F0F;
	text-transform: uppercase;
	font-family: 'Replica', 'Helvetica', sans-serif;
	font-size: 5vw;
	line-height: 5vw;
	letter-spacing: 5px;
	text-shadow: -1.8px -1.8px 0px #FF0000, 1.8px 1.8px 0px #00FFFF;
	margin-bottom: 15px;
}

.smallheader{
	font-size: 3vw;
}

h2{
	color: #F0F0F0;
	text-transform: uppercase;
	font-family: 'Replica', 'Helvetica', sans-serif;
	font-size: 2vw;
	letter-spacing: 3px;
	text-align: right;
}

#topdescrips #project p.description1{
	font-family: 'Source Code Pro', 'Menlo', 'Monaco', monospace;
	font-weight: 400;
	font-size: 14px;
	margin-bottom: 15px;
}

a.viewproject{
	font-size: 14px;
	font-weight: 400;
	text-decoration: none;
	margin-bottom: 15px;
	font-family: 'Source Code Pro', 'Menlo', 'Monaco', monospace;
}

#artist{
	background: #0F0F0F;
	position: relative;
	margin-top: 60px;
	width: 40%;
	left: 2vw;
	border-bottom: 2px solid #0F0F0F;
	float: right;
	padding: 20px;
	text-align: right;
	-webkit-transform: skew(-10deg);
    -moz-transform: skew(-10deg);
    -o-transform: skew(-10deg);
    border-right: 20px solid #0F0F0F;
    z-index: 40;
}

#artist #fixSkew{
	position: relative;
	width: 100%;
	margin-left: -30px;
	height: 100%;
	-webkit-transform: skew(10deg);
   	-moz-transform: skew(10deg);
    -o-transform: skew(10deg);
}

#artist h2{
	margin-bottom: 15px;
}

.profile{
	width: 18vw;
	height: 18vw;
	margin-bottom: 15px;
}

.artistdescription{
	font-family: 'Source Code Pro', 'Menlo', 'Monaco', monospace;
	color: #F0F0F0;
	font-weight: 400;
	font-size: 12px;
	width: 35vw;
	text-align: right;
	float: right;
    padding-bottom: 20px;
}

.toplinks{
	color: #F0F0F0;
	display: inline-block;
	font-family: 'Source Code Pro', 'Menlo', 'Monaco', monospace;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 2px;
	text-decoration: none;
	font-style: italic;
	font-size: 12px;
	border-bottom: 0px solid #E8E8E8;
	transition: all ease 0.2s;
}

.toplinks:hover{
	text-shadow: -4px 0px 0px #FF0000, 4px 0px 0px #00FFFF;
}

.noline{
	border-bottom: 0px solid;
	font-style: normal;
	font-size: 14px;
}

#paraclass{
		background-color: #0F0F0F;
	    margin-top: 3vh;
	    margin-bottom: 3vh;
	    padding-top: 8vh;
		padding-bottom: 10vh;
		width: 100%;
		-webkit-transform: skewY(5deg);
	   -moz-transform: skewY(5deg);
	    -o-transform: skewY(5deg);
}

#paraclass2{
		background-color: #0F0F0F;
	    margin-top: 3vh;
	    margin-bottom: 3vh;
	    padding-top: 10vh;
		padding-bottom: 8vh;
		width: 100%;
				-webkit-transform: skewY(-5deg);
	   -moz-transform: skewY(-5deg);
	    -o-transform: skewY(-5deg);
}


.para{
	color: #F0F0F0;
	font-family: 'Source Code Pro', 'Menlo', 'Monaco', monospace;
	font-weight: 400;
	font-size: 16px;
	text-align: left;
	width: 70vw;
	padding-left: 14vw;
	padding-right: 14vw;
					-webkit-transform: skewY(5deg);
	   -moz-transform: skewY(5deg);
	    -o-transform: skewY(5deg);
}

.para2{
	color: #F0F0F0;
	font-family: 'Source Code Pro', 'Menlo', 'Monaco', monospace;
	font-weight: 300;
	font-size: 16px;
	text-align: left;
	width: 70vw;
	padding-left: 14vw;
	padding-right: 14vw;
	-webkit-transform: skewY(-5deg);
    -moz-transform: skewY(-5deg);
    -o-transform: skewY(-5deg);
}


#maindescription{
	text-align: center;
	font-size: 14px;
	position: relative;
	z-index: 1;
	top: 50px;
}


.mainimgs{
	width: 60vw;
	opacity: 0.9;
	margin: 0 auto;
	display: block;
	padding-top: 50px;
	// margin-top: 50px;
	padding-bottom: 20px;
}

.captions{
	width: 100vw;
	opacity: 1;
	text-align: center;
	color: #0F0F0F;
	text-transform: uppercase;
	font-family: 'Source Code Pro', 'Menlo', 'Monaco', monospace;
	font-size: 14px;
	padding-bottom: 1px;
/*	border-bottom: 1px solid #0F0F0F;*/
}


iframe{
	text-align: center;
	margin: 0 auto;
	width: 60vw;
	// height: 78vh;
	// padding-top: 50px;
}

.viewproject{
	color: #0F0F0F;
	text-decoration: none;
	font-family: ;
	text-transform: uppercase;
	font-size: 16px;
	font-style: italic;
	border-bottom: 2px solid #0F0F0F;
	transition: all ease 0.2s;
}

.viewproject:hover{
	text-shadow: -2px 0px 0 rgba(255,0,0,100), 2px 0px 0 rgba(0, 255,255,100);
}
